In [1]:
# загружаем основные библиотеки
import numpy as np
import pandas as pd

In [11]:
# пишем функцию, которая вычисляет формулу гаверсинусов
def haversine(lat1, lon1, lat2, lon2):
    MILES = 3959
    lat1, lon1, lat2, lon2 = map(np.deg2rad, [lat1, lon1, lat2, lon2])
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arcsin(np.sqrt(a))
    total_miles = MILES * c
    return total_miles

In [12]:
# загружаем данные, на которых будем тестировать нашу функцию
df = pd.read_csv('Notebooks/Data/new_york_hotels.csv', encoding='cp1252')
df.head()

,ean_hotel_id,name,address1,city,state_province,postal_code,latitude,longitude,star_rating,high_rate,low_rate
0,269955,Hilton Garden Inn Albany/SUNY Area,1389 Washington Ave,Albany,NY,12206,42.68751,-73.81643,3.0,154.0272,124.0216
1,113431,Courtyard by Marriott Albany Thruway,1455 Washington Avenue,Albany,NY,12206,42.68971,-73.82021,3.0,179.0100,134.0000
2,108151,Radisson Hotel Albany,205 Wolf Rd,Albany,NY,12205,42.72410,-73.79822,3.0,134.1700,84.1600
3,254756,Hilton Garden Inn Albany Medical Center,62 New Scotland Ave,Albany,NY,12208,42.65157,-73.77638,3.0,308.2807,228.4597
4,198232,CrestHill Suites SUNY University Albany,1415 Washington Avenue,Albany,NY,12206,42.68873,-73.81854,3.0,169.3900,89.3900

In [19]:
def haversine_looping(df):
    distance_list = []
    for i in range(0, len(df)):
        d = haversine(40.671, -73.985, df.iloc[i]['latitude'], df.iloc[i]['longitude'])
        distance_list.append(d)
    return distance_list

In [20]:
%%timeit
# запускаем итеративную функцию haversine
df['distance'] = haversine_looping(df)

240 ms ± 1.05 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

**Векторизация – это процесс выполнения операций над целыми массивами.**

In [21]:
%%timeit
# векторизированная реализация функции haversine, используем объекты Series целиком
df['distance'] = haversine(40.671, -73.985,df['latitude'], df['longitude'])

1.62 ms ± 15.4 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [24]:
type(df['latitude'].values)

numpy.ndarray